.App {
  text-align: center;
  height: auto;
  overflow: hidden;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  margin: .5em 0;
}

.App .Map {
  float: right;
  width: 75%;
  min-height: 500px;
}

.App .Villain {
  width: 25%;
  float: left;
  background-color: #222;
  color: #fff;
}

.App .Villain__header {
  text-align: left;
}

.App .Targets,
.App .Target {
  text-align: left;
}

.App .Targets__list {
  padding: 0;
  margin: 0;
}

.App .Target {
  list-style: none;
  cursor: pointer;
}

.App .Villain__header,
.App .Targets__title,
.App .Target {
  padding: 24px;
  margin: 0;
}

